/* Global styles for the dynamic block */

div.sivu-block-dynamic-meta {
  color: rgb(30, 30, 30);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  outline: none;
  border-radius: calc(7px);
  background-color: #f86666;
  padding: 1rem;
}