/* Global styles for the basic block */

div.bloxample-basic-card-saved {
  color: rgb(30, 30, 30);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  outline: none;
  border-radius: calc(7px);
  background-color: #55f7a9;
  padding: 1rem;
}